body {
    background-color: lightgray;
}

@font-face {
    font-family: 'long_shot';
    src: url('../fonts/long-shot/long_shot.woff2') format('woff2'),
    url('../fonts/long-shot/long_shot.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.news_load_more span{
    transition: all .1s linear;
}

.news_load_more:hover span{
    transform: rotate(180deg);
}

.news-container img {
    transition: filter .4s linear;
}

.news-container img:hover {
    filter: blur(4px) grayscale(100%);
}